/*IMPORT FONTS*/

@import url('https://fonts.googleapis.com/css?family=Work+Sans:500,300');

/*DEFINE GLOBALS*/

:root {
  --bg-color: #F7786B;
  --text-color: rgba(255, 255, 255, 1);
  --link-hover-color: #000;
  --line-height: 1.2;
  --xs: 0.8em;
  --s: 1em;
  --m: 1.3em;
  --l: 1.999em;
  --xl: 2.827em;
  --xxl: 3.998em;
}

body {
  font-family: 'Work Sans', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: var(--line-height);
  color: var(--text-color);
  background: var(--bg-color);
  /* Make the type as beautiful as possible */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-variant-ligatures: common-ligatures;
  -webkit-font-variant-ligatures: common-ligatures;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width:100%;
  position: absolute;
  text-align: center;
  pointer-events: none;
}

.wrapper {
  pointer-events: none;
  color: #FFF;
  text-align: center;
  height: auto;
  margin: 0 auto;
}

#container {
  position: fixed;
  z-index: -300;
  max-width: 100%;
  max-height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.sketch {
  position: fixed;
  max-height: 100%;
  max-width: 100%;
}

h1, h2, h3, h4, h5, p {
  opacity: 0.8;
}

h1 {
  font-size: var(--xxl);
  /* 16x2.25=36 */
}

h2 {
  font-size: var(--xl);
  font-weight: 700;
  pointer-events: none;
  margin: 0 auto;

  /* 16x1.5=24 */
}

h3 {
  font-size: var(--l);
  /* 16x1.125=18 */
  margin-bottom: 0;
}

h4 {
  font-size: var(--m);
  /* 16x0.875=14 */
}

p {
  font-size: var(--s);
  font-weight: 200;
  margin-top: 2em;
  font-weight: 400;
  width:60%;
  margin:0 auto;
}

.divider{
  width:100%;
  display: block;
  margin:var(--s) 0;
}
.bigdivider{
  width:100%;
  display: block;
  margin:var(--l) 0;
}

strong {
  font-weight: 700;
}

small {
  font-weight: 300;
  letter-spacing: 0.15em;
  opacity: 0.8;
  font-size: var(--xs);
}

a.header {
  -webkit-margin-before: var(--s);
  -webkit-margin-after: var(--s);
  margin-top: var(--s);
}

a {
  color: var(--text-color);
  background-image: linear-gradient( 180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 85%, #fff 85%, #fff 90%, rgba(0, 0, 0, 0) 90%, rgba(0, 0, 0, 0));
  text-decoration: none;
  pointer-events: all;
}

@media screen and (max-width: 480px)  {
  :root{
    --xs: 0.8em;
    --s: 1em;
    --m: 1.3em;
    --l: 1.999em;
    --xl: 2.827em;
    --xxl: 3.998em;
  }
}
@media screen and (max-width: 480px)  {
  :root {
    --bg-color: #F7786B;
    --text-color: rgba(255, 255, 255, 1);
    --link-hover-color: #000;
    --line-height: 1.2;
    --xs: 0.8em;
    --s: 1em;
    --m: 1.3em;
    --l: 1.999em;
    --xl: 2.827em;
    --xxl: 3.998em;
  }

  h2{
    font-size: var(--l);
  }

  p{
    font-size: var(--s);
    width:95%;
  }
}
@media screen and (max-height: 580px)  {
  .client{
    display: none;
  }
}
